{% extends "organization/courseGroup/adminBasic.html" %}
{% load staticfiles %}

{% block title %}课程组信息{% endblock %}

{% block nav_course_group_instance %}active{% endblock %}

{% block sub_content2 %}
<div class="col-12">
  <div class="container">
    <div id="courseGroup"></div>
  </div>
  <br />
  <br />
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'courseGroup',
  title: '课程组',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-course-group-detail' oid gid %}',
  updateURL: '{% url 'admin-course-group-detail' oid gid %}',
  removeURL: '{% url 'admin-course-group-detail' oid gid %}',
  removeToURL: '{% url 'web-course-groups' oid %}',
  items: [
    { name: 'id', caption: 'ID', type: 'Number', readOnly: true },
    { name: 'caption', caption: '课程组名称', type: 'Text', typeInfo: { max_length: 150 } },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean' },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean' },
    'Divide',
    { name: 'number_courses', caption: '课程数量', type: 'Number', readOnly: true },
  ]

})
</script>
{% endblock %}