{% extends "myCourse/adminBasic.html" %}
{% load staticfiles %}

{% block nav_org %}active{% endblock %}

{% block nav_course_groups %}active{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="container">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link {% block nav_course_group_info %}{% endblock %}" href="{% url 'web-my-course-groups-instance' cid %}">课程组信息</a>
        </nav>
      </div>
      <br class="hidden-md-up">
      <br class="hidden-md-up">
    </div>
    <div class="col-1 row">
      <div class="nav-divider hidden-sm-down"></div>
    </div>
    <div class="col-lg-8 col-md-7">
      {% block sub_content2 %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
