{% extends "organization/courseGroup/adminBasic.html" %}
{% load staticfiles %}

{% block title %}课程组下教师信息{% endblock %}

{% block nav_course_group_teacher %}active{% endblock %}

{% block nav_teacher %}active{% endblock %}

{% block sub_content2 %}
<div class="col-12">
  <div class="container">
    <div id="teacherInfo"></div>
  </div>
  <br />
  <br />
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'teacherInfo',
  title: '课程组教师关系',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-course-group-teacher-relation-detail' oid gid rid %}',
  updateURL: '{% url 'admin-course-group-teacher-relation-detail' oid gid rid %}',
  removeURL: '{% url 'admin-course-group-teacher-relation-detail' oid gid rid %}',
  removeToURL: '{% url 'web-course-group-teacher-relations' oid gid %}',
  items: [
    { name: 'id', caption: '课程教师关系ID', type: 'Number', readOnly: true },
    { name: 'teacher', caption: '教师ID', type: 'Text', readOnly: true },
    'Divide',
    { name: 'teacher_id', caption: '教师工号', type: 'Text', readOnly: true },
    { name: 'name', caption: '姓名', type: 'Text', readOnly: true },
    { name: 'sex', caption: '性别', type: 'Select', readOnly: true,
      typeInfo: {
        ajax: false,
        choices: [
          { text: '保密', value: 'SECRET', selected: true },
          { text: '男', value: 'MALE' },
          { text: '女', value: 'FEMALE' }
        ]
      }
    },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean' },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean' },
    'Divide',
    { name: 'phone', caption: '电话', type: 'Text', readOnly: true },
    { name: 'email', caption: '邮箱', type: 'Email', readOnly: true }
  ]

})
</script>
{% endblock %}