{% extends "organization/courseGroup/adminBasic.html" %}
{% load staticfiles %}

{% block title %}添加课程到课程组{% endblock %}

{% block nav_course_group_relation_instance %}active{% endblock %}

{% block sub_content2 %}
<div class="container">
  <div class="col-xs-12">
    <div id="courseMeta"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxForm({
  id: 'courseMeta',
  method: 'POST',
  toSuccess: '{% url 'web-course-group-relations' oid gid %}',
  url: '{% url 'admin-course-group-relation-list' oid gid %}',
  items: [
    {
      name: 'available',
      caption: '可用',
      type: 'Boolean',
      defaultTrue: true
    },
    {
      name: 'course',
      caption: '课程ID',
      type: 'Number'
    }
  ]
})
</script>
{% endblock %}